h1 Your Balance
p = @wallet.balance

= link_to 'Add Funds', new_cash_in_user_wallet_path(@wallet), class: 'btn btn-primary'
= button_to 'Delete Wallet', user_wallet_path(@wallet), method: :delete, data: { confirm: 'Are you sure you want to delete your wallet?' }, class: 'btn btn-danger'